@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "playfair";
  src: url("../assets/fonts/playfair.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima_Bold";
  src: url("../assets/fonts/proxima-nova-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima_Regular";
  src: url("../assets/fonts/proxima-nova-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima_SemiBold";
  src: url("../assets/fonts/proxima-nova-semibold.ttf") format("truetype");
}
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --grey-1: rgb(167, 167, 167);
  --dark-1: #0b2735;
  --primary: #e4c590;
  --background_2: #0e0d0c;
    --red: rgb(255, 56, 92);
}

.text-grey {
  color: rgb(167, 167, 167);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: "Proxima_Regular", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.hide {
  overflow: hidden;
}

textarea {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: 0.6rem;
  border-radius: 10px;
}
input {
  border: none;
  outline: none;
}
input::placegolder {
  font-size: 13px;
  font-weight: normal;
  color: #000;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  height: 60px;
  padding: 0.6rem 1rem;
  border-radius: 10px;
}

.btn {
  transition: all 0.5s;
  background: #0b2735 !important;
  font-family: "Proxima_SemiBold", sans-serif;
}
.btn:hover {
  opacity: 0.7;
}

.hide {
  overflow: hidden;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 3rem;
  height: 3rem;
  border: 3px solid #f9f9f9;
  border-radius: 50%;
  border-top-color: #0b2735;
  animation: spinner 1s linear infinite;
}

.rdrMonth {
  width: 100% !important;
  font-size: 14px !important;
  font-family: "Proxima_SemiBold", sans-serif;
}
.rdrMonthAndYearPickers select {
  font-size: 14px !important;
  color: #000 !important;
  font-family: "Proxima_SemiBold", sans-serif;
}
.css-1flmtb5-MuiDataGrid-root .MuiDataGrid-row {
  max-height: 300px !important;
  min-height: 300px !important;
}

.css-1flmtb5-MuiDataGrid-root
  .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)
  > .MuiDataGrid-cell {
  max-height: 300px !important;
  min-height: 300px !important;
}

.rdrDateRangePickerWrapper {
  border: 2px solid #ccc;
  border-radius: 50% !important;
  padding: 10px;
  font-family: "Proxima_SemiBold", sans-serif;
}
.rdrCalendarWrapper {
  width: 100% !important;
  color: #000 !important;
  font-size: 15px !important;
  font-family: "Proxima_SemiBold", sans-serif;
}
